.about_firstPart {
  width: 80%;
  padding-top: 30px;
  padding-left: 20%;
}

.about_midTitle {
  text-align: left;
  margin: auto;
  font-size: 35px;
  /*  color: #4D70FC; */
  padding-bottom: 10px;
}

.blueWords {
  font-weight: bold;
  color: #4d70fc;
}

.about_boldWords {
  font-weight: bold;
}

.about_paraTitleLeft {
  margin: auto;
  text-align: center;
  padding: 10px;
  color: #4d70fc;
  font-size: 20px;
}

.about_paraTitleRight {
  margin: auto;
  text-align: center;
  padding: 10px;
  color: #4d70fc;
  font-size: 20px;
}

.about_secondPartPara {
  float: left;
  width: 50%;
  padding: 80px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.about_secondPart:after {
  content: "";
  display: table;
  clear: both;
}

.about_thirdPart {
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-top: 0px;
}

.about_thirdTitle {
  text-align: center;
  margin: auto;
  font-size: 27px;
  color: #4d70fc;
  padding-bottom: 10px;
}

#aboutImage {
  float: right;
  display: block;
  padding-left: 17%;
}
