.indicator_firstPart {
  width: 80%;
  padding-top: 30px;
  padding-left: 20%;
}

.indicator_midTitle {
  text-align: left;
  margin: auto;
  font-size: 35px;
  /*  color: #4D70FC; */
  padding-bottom: 10px;
}

.indicator_blueWords {
  font-weight: bold;
  color: #4d70fc;
}
