#lineBreak {
  width: 100%;
}

.midParaContact {
  margin: auto;
  width: 50%;
  padding-top: 30px;
  color: black;
}

#midTitleContact {
  margin: auto;
  font-size: 30px;
  /*color: #4D70FC;*/
  padding-bottom: 10px;
}

.midParaFirstWordsContact {
  font-weight: bold;
  color: #4d70fc;
}

#contactImage {
  float: right;
  display: block;
  padding-left: 10%;
}
