/*css for HomePage.js*/
.home_topPara {
  margin: auto;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
}

.home_grid {
  padding-top: 30px;
  padding-right: 22%;
  padding-bottom: 20px;
}

#home_title {
  font-size: 35px;
  padding-bottom: 15px;
}

#home_topPara_text {
  width: 60%;
  margin: auto;
}

.titles {
  font-weight: bolder;
  font-style: italic;
  font-size: 50px;
  padding-left: 10%;
}

hr {
  width: 95%;
  background-color: #979899;
}

#homeImage {
  height: 275px;
}
