.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my css */
.App-body {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.midPara {
  margin: auto;
  width: 58%;
  padding: 10px;
  padding-top: 30px;  
  color: whitesmoke;
  font-size: calc(0.5px + 2vmin);
}

.midTitle {
  text-align: center;
  margin: auto;
  font-size: 30px;  
  padding-bottom: 10px; 
}

hr {
  width: 90%;
  background-color: #979899;
}