/*css for HomePage.js*/
.home_topPara {
  background-color: #282c34;
  min-height: 30vh;
  padding-left: 10%;
  padding-top: 100px;
  padding-right: 50%;
  padding-bottom: 30px;
  color: aliceblue;
}

.home_grid {
  padding-top: 30px;
  padding-right: 22%;
  padding-bottom: 20px;
}

#home_title {
  font-weight: bolder;
  font-style: italic;
  font-size: 50px;
  padding-bottom: 15px;
}

.titles {
  font-weight: bolder;
  font-style: italic;
  font-size: 50px;
  padding-left: 10%;
}

hr {
  width: 95%;
  background-color: #979899;
}
